<script id="tmpl-nf-after-fields" type="text/template">
    {{{ data.afterFields }}}
    <div id="nf-form-errors-{{{ data.id }}}" class="nf-form-errors" role="alert"></div>
    <div class="nf-form-hp"></div>
    <div class="m-top-40 p-left-20 border-light-grey-left f-s-09 f-grey">{{{ data.fieldsMarkedRequired }}}</div>
</script>
