<script id="tmpl-nf-field-submit" type="text/template">
	<button id="nf-field-{{{ data.id }}}" class="{{{ data.renderClasses() }}} nf-element " {{{ ( data.disabled ) ? 'disabled' : '' }}}>
		<i class="far fa-send m-right-10"></i>{{{ data.label }}}
	</button>
</script>
