<script id="tmpl-nf-field-label" type="text/template">
	<label for="nf-field-{{{ data.id }}}"
	                                   id="nf-label-field-{{{ data.id }}}"
	                                   class="{{{ data.renderLabelClasses() }}}">{{{ data.label }}} {{{ ( 'undefined' != typeof data.required && 1 == data.required ) ? '<span class="required">*</span>' : '' }}} {{{ data.maybeRenderHelp() }}}</label>
</script>
