/*
        =========================================================
        ======  IT'S UP TO YOU (NEW YORK, NEW YORK)   ===========
        =========================================================
*/

header {

  ul {

    &#main-menu {
      @extend .list-inline;

      li {
        @extend .list-inline-item;

        a {
          @extend .p-left-10;
          @extend .p-right-10;
          @extend .p-top-10;
          @extend .p-bottom-10;
          @include border(1px,solid,$link-color,full);
        }
      }
    }
  }
}

main {
  .nf-response-msg,
  .mc4wp-success,
  .mc4wp-notice {
    @extend .alert;
  	@extend .alert-success;
    @extend .m-top-40;

    p { @extend .m-0; }
  }

  .ninja-forms-error-msg,
  .mc4wp-error {
    @extend .alert;
    @extend .alert-danger;
    @extend .m-top-40;

    p { @extend .m-0; }
  }
}

footer {

}

.mm-listitem {
	a {	@include border(1px,solid,$white-opacity-light,bottom);	}

	&.current_page_item,
  &.current-page-ancestor {
		a {
			@include border(1px,solid,$mm_borderColor,bottom);

			font-weight: $font-weight-bold;
		}
	}

	&::after {	border:none;	}
}

.mm-navbar__title,
.mm-navbar__btn { border:none; }

.mm-listitem__btn:not(.mm-listitem__text) {
  @include border(1px,solid,$white-opacity-light,left);
}

.alert {
    p {  margin-bottom:0;  }
}
